
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

/* Add some hover effect to the table rows */
tbody tr:hover {
    background-color: #f5f5f5;
}

/* Add some styling to the table header cells */
th {
    background-color: #557C55;
    color: white;
}

/* Add styling to the "Go to Issues" button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #A6CF98;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn:hover {
    background-color: #6cce71;
}
.status-open {
    background-color: #69db83; /* Green for "Open" status */
    color: #fff; 
}

.status-in-progress {
    background-color: #ffdf7e; /* Yellow for "In Progress" status */
    color: #000; 
}

.status-resolved {
    background-color: #80B3FF; /* Blue for "Resolved" status */
    color: #fff; 
}
